
    <div class="whatever">
      <nav class='navbar'>
        <div class="nav-name">
          <a href="/"><span class="nav-name-index">Music Mash</span></a>
        </div>
       <div class="username-link">

         {{#if user}}
          <a href="/profile">{{user.username}}</a>
       </div>
      
      {{else}}
      <div id="list-container">
        <a href="/login">Login</a>
        <a href="/signup">SignUp</a>
      </div>
      {{/if}}
      </nav>
      <div class="landing-container">
        <a class="landing-image-container" href="/vote">
          ♫
          
        </a>
      </div>
    </div>
    
 