<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    {{}}
    <nav class='navbar'>
      <div class="nav-name">
        <span>Music Mash</span>
      </div>
     <div class="nav-links">
      <a href="/login">Login</a>
      <a href="/signup">SignUp</a>
     </div>
    </nav>
    
  </body>
</html>