<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="whatever">
    <nav class='navbar'>
      <div class="nav-name">
        <span class="nav-name-index">Music Mash</span>
      </div>
      <div id="list-container">
        <a href="/login">Login</a>
        <a href="/signup">SignUp</a>
      </div>
     </nav>
    <div>
      <a href="/vote" class="funky" /> <img src="https://media.giphy.com/media/tABPdYzhpUtBC/giphy.gif" </a>
      
    </div>  
    </div>
    
  </body>
</html>