<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
  </head>
  <body>
    <nav class='navbar'>
      <div class="nav-name">
        <span>Music Mash</span>
      </div>
   </nav>
  </form>
     <form action="/login" method="POST" >
  <div >
     <label for="username"> Userame: </label> <br>
  <input type="text" placeholder="username" name="username" />
   <br>
 </div>
 <div >
  <label for="password"> Password: </label> </br>
  <input type="password" placeholder="your password"name="password" />
<br>
 </div>
 <div>
  <a href="/vote"><button tyoe="submit">Login!</button></a>  
 </div>
</form>
</body>
</html>
