
    <nav class='navbar'>
      <div class="nav-name">
        <a href="/"><span class="nav-name-index">Music Mash</span></a>
      </div>
       <a href="/logout"><img src="./images/logout.png" alt="logout"></a> 
   </nav>
     <form action="/login" method="POST" >
  <div >
     <label for="username"> Userame: </label> <br>
  <input type="text" placeholder="username" name="username" />
   <br>
 </div>
 <div >
  <label for="password"> Password: </label> </br>
  <input type="password" placeholder="password"name="password" />
<br>
 </div>
 <div>
  <button class="button-basic-styles" type="submit">Login</button> 
 </div>
</form>
