<nav class='navbar'>
  <div class="nav-name">
    <a href="/"><span class="nav-name-index">Music Mash</span></a>
  </div>
  <div class="username-link">

    {{#each user}}
    <p class="username">{{this.username}}</p>
    {{/each}}

  </div>
</nav>

<div class="profile-container">

 <div class="profile-form-div">

    <form action="/profile" method="post" class="form-profile">

      <button type="submit" class="profile-button"> Delete Profile </button>

    </form>
 </div>

<div class="profile-form-div">

<form action="/logout" method="post" class="form-profile">

      <button type="submit" class="profile-button">Log out</button>

</form>
</div>



  {{!-- <div class="form-container">

  <button type="submit" class="profile-button"><a href="/logout">Log Out!</a></button>

  </div> --}}

</div>