<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <nav class='navbar'>
      <div class="nav-name">
        <span>Music Mash</span>
      </div>
   </nav>
   <form action="/profile" method="post" class="form-container">
   <p class="username">{{user.username}}</p>
   <button type="submit" class="delete-button"> Delete Profile</button>
  </form>

<form action="/profile" method="post" class="form-container">
  <button type="submit" class="delete-button"> Log Out!</button>
</form>
  </body>
</html>