<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <nav class='navbar'>
      <div class="nav-name">
        <span>Music Mash</span>
      </div>
   </nav>
   <form action="/profile" method="post" class="form-container">


   <p>{{user.username}}</p>
   <a href="/profile/{{user._id}}">Delete User!</a>
   <button type="submit" class="delete-button"> delete me</button>
 

</form>
  </body>
</html>