<div class="container">
<nav class='navbar'>
      <div class="nav-name">
       <a href="/"><span class="nav-name-index">Music Mash</span></a>
      </div>
     <div class="username-link">

      {{#if user}}
     <a href="/profile"><span>{{user.username}}</span></a>
     {{/if}}
     </div>
      
     </nav>
</div>

<div class="ranking-container">
<ol class="ranking-list">
{{#each result}}
<li class="list-item"> {{this.title}}  {{this.rating}}</li>
{{/each}}
 </ol>  
</div>
 



 {{#if err}}
 {{err}}
 {{/if}}

