<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
   
  </head>
  <body>
   <nav class='navbar'>
      <div class="nav-name">
        <span>Music Mash</span>
      </div>
     </nav>
	<div>
		<a href="/">Back</a>
	</div>
</div>

<ol>
{{#each result}}
<li>{{this.title}}{{this.rating}}</li>
{{/each}}
</ol>
  {{#if err}}
    {{err}}
  {{/if}}

  <button>
  </button>
   
  </body>
</html>


