<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
   
  </head>
  <body>
    <nav>
     <h1>Music Mash</h1>
     </nav>
	<div>
		<a href="/">Back</a>
	</div>
</div>

<ol>
{{#each result}}
<li>{{this.title}}{{this.rating}}</li>
{{/each}}
</ol>
  {{#if err}}
    {{err}}
  {{/if}}

  <button>
  </button>
   
  </body>
</html>


