<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <nav class='navbar'>
      <div class="nav-name">
        <span>Music Mash</span>
      </div>
   </nav>
   <form action="/signup" method="POST" class="form-container">
 <div class="form-group">
   <label for="username">Username:</label>
   <input type="text" id="username" name="username"/>
 </div>
 <div class="form-group">
   <label for="password">Password:</label>
   <input type="password" id="password" name="password"/>
 </div>
 <div>
   <input type="submit" value="sign UP">
   <a href="/vote">Sign Up!</a>
 </div>
</form>
  </body>
</html>