
    <nav class='navbar'>
      <div class="nav-name">
        <a href="/"><span class="nav-name-index">Music Mash</span></a>
      </div>
    
   </nav>
 <form action="/signup" method="POST">
 <div >
     <label for="username"> Username: </label> <br>
  <input type="text" placeholder="username" name="username"/>
   <br>
 </div>
 <div >
  <label for="password"> Password: </label> </br>
  <input type="password" placeholder="password" name="password" />
<br>
 </div>
 <div>
  <button class="button-basic-styles" type="submit">Sign up</button> 
 </div>
</form>
</form>
