<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <nav class='navbar'>
      <div class="nav-name">
        <span>Music Mash</span>
      </div>
   </nav>
 <form action="/signup" method="POST">
 <div >
     <label for="username"> Userame: </label> <br>
  <input type="text" placeholder="your username" name="username"/>
   <br>
 </div>
 <div >
  <label for="password"> Password: </label> </br>
  <input type="password" placeholder="your password" name="password" />
<br>
 </div>
 
  {{!-- <input type="submit" > --}}
  
  <a href="/vote"><button type="submit" class="back-button">SignUp!</button></a>  
  <a href="/" class="back-button"><button>Back</button></a> 

</form>
</body>
</html>