<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <nav>
     <h1>Music Mash</h1>
   </nav>
   <form action="/signup" method="POST">
 <div>
   <label for="username">Username:</label>
   <input type="text" id="username" name="username"/>
 </div>
 <div>
   <label for="password">Password:</label>
   <input type="password" id="password" name="password"/>
 </div>
 <div>
   <input type="submit" value="sign UP">
   <button>
    <a href="/vote">vote</a>
    </button>
 </div>
</form>
  </body>
</html>